@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100&family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100&family=Old+Standard+TT:ital@1&family=Playfair+Display&display=swap');


/* 전체 기본 */
html, body {
   margin: 0 auto;
   padding: 0;
   height: 100%;
}
body{
   overflow-x: hidden;
}
.price,.ml{
   margin-bottom:10px;
}


.recommend-area{
   display: flex;
   justify-content: center;
   position: relative;
   height:410px;
   padding:20px;
   margin-top: 96px;
   margin-bottom:100px;
   background-color: rgba(86, 92, 70, 0.2);
}


/* 추천상품 슬라이드 */
/* .multiple-items{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   overflow-x:hidden ;
} */
.slide-item{
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   align-items: center;
   flex-wrap: nowrap;
   width: 200px;
   height:800px;
   margin-left : 50px;
   /* background-color: lightpink; */
}
.slide-item img{
   width: 100px;
   height: 250px;
   border-radius:5px;
}
.slide-item h3{
   margin: 10px 0 10px;
   font-family: 'Nanum Myeongjo';
}
.slide-item .E-name{
   font-size: 1rem;
   text-align: center;
   width: 150px;
}
.slide-item .K-name{
   font-size: 1rem;
   text-align: center;
   width: 150px;
}
.slide-item .card-btn{
    border: 2px solid #565c46; /* 테두리 설정 */
    background-color: transparent; /* 배경색 설정 */
    width: 130px;
    height: 40px;
    color: #565c46;
    padding: 10px 30px;
} 


/*화살표 */
 .L-arrow img{
   width:30px;
   height: 30px;
   margin:auto 0;
   border:none;
   cursor: pointer;
   /* background-color: rgba(86, 92, 70, 0); */
   background-color: rgba(86, 92, 70, 0);
}
.R-arrow img{
   width:30px;
   height: 30px;
   margin:auto 0;
   border:none;
   cursor: pointer;
   /* background-color: rgba(86, 92, 70, 0); */
   background-color: rgba(86, 92, 70, 0);
}
.arrow{
	margin-top:100px;
}
/* 업데이트 */

/* 중간이미지 + 문장 */
.image-moonjang{
   background-size: 100% 100%;
   position: absolute;
   top: 68.5em;
   width: 100%;
   height: 300px;
   z-index: 1;
}
.image-moonjang > p {
   /* font-family: 'Noto Sans KR'; */
   font-family: 'Playfair Display'; 
   color: #565c46;
   padding-top: 90px;
   font-size: 2rem;
   text-align: center;
}

.image-moonjang::after{
   background: url("../Main-image/숲1.jpg");
   background-size: 100% 100%;
   position: absolute;
   top: 0;
   left:0;
   content: "";
   width: 100%;
   height: 300px;
   z-index: -1;
   opacity: 0.5;
}
 


.product-page{
  /*  position: relative; */
     margin-top: 500px;
}


/* 오른쪽 */
/* 이미지 */
.page-img-r img {
   border-radius: 20px;
   position: relative;
   left: 22%;
   height: 420px;
   width: 370px;
}

/* 타이틀+ 문장 +버튼 */
.product-moonjang-r{
   text-align: center;
   position: relative;
   bottom: 22em;
   right: 25%;
   float: right;
}
/* 타이틀 */
.r-Title{
   font-family: 'Nanum Myeongjo';
   font-size: 1.5rem;
   font-weight: 600;
   margin: 0 0 50px;
   color: #565c46;
}
/* 문장 */
.r-moonjang{
   font-family: 'Nanum Myeongjo';
   margin: 0 0 130px;
}
/* 버튼 */
.product-btn-r{
   border: 2px solid #565c46; /* 테두리 설정 */
    background-color: white; /* 배경색 설정 */
    color: #565c46; /* 텍스트 색상 설정 */
    padding: 13px 60px; /* 패딩 설정 */
    cursor: pointer; /* 커서 스타일 설정 */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.product-btn-r:hover {
    background-color: #565c46; /* 배경색 변경 */
    color: white; /* 텍스트 색상 변경 */
}

/* 왼쪽  */
/* 이미지 */
.page-img-l img{
   border-radius: 20px;
   position: relative;
   top: 5em;
   left: 49em;
   height: 420px;
   width: 370px;
}

/* 타이틀+ 문장 +버튼 */
.product-moonjang-l{
   text-align: center;
   position: relative;
   bottom: 15em;
   float: left;
   left: 350px;
}
/* 타이틀 */
.l-Title{
   font-family: 'Nanum Myeongjo';
   font-size: 1.5rem;
   font-weight: 600;
   color: #565c46;
   display: inline;
}
/* 문장 */
.l-moonjang{
   font-family: 'Nanum Myeongjo';
   margin: 50px 0 100px;
   color: #565c46;

   
}
/* 버튼 */
.product-btn-l{
   font-family: 'Nanum Myeongjo';
   border: 2px solid #565c46; /* 테두리 설정 */
    background-color: white; /* 배경색 설정 */
    color: #565c46; /* 텍스트 색상 설정 */
    padding: 13px 60px; /* 패딩 설정 */
    cursor: pointer; /* 커서 스타일 설정 */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.product-btn-l:hover {
    background-color: #565c46; /* 배경색 변경 */
    color: white; /* 텍스트 색상 변경 */
}

/* footer */
.footer-all{
   position: relative;
   margin-top: -20%
}